.reveal .slide aside {
  bottom: 40px;
}

.slide table {
  width: 100%;
}

.slide table pre {
  font-size: 0.7em;
}

.pdf-page .web {
  display: none;
}

/* Quick inline text sizing classes */

.p-90 {
  font-size: 90%;
}

.p-85 {
  font-size: 85%;
}

.p-80 {
  font-size: 80%;
}

.spacer {
  margin-left: 30px;
}

/* Bootstrap inline styling */

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.pe-5 {
  padding-right: 3em;
}

.text-left {
  text-align: left !important;
}

.pb-2 {
  padding-bottom: 0.5em !important;
}

.pb-3 {
  padding-bottom: 1em !important;
}

.py-3 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.pb-5 {
  padding-bottom: 3em !important;
}

.pt-3 {
  padding-top: 1em !important;
}

.pt-5 {
  padding-top: 3em !important;
}

/* Title Slide  */

#title-slide {
  text-align: left;
}

.title-slide.level1 {
  background-color: #eef3f8;
  text-align: center;
}

.title-slide .title {
  text-align: left;
  letter-spacing: -3px;
  font-size: 2.75em;
}

.reveal .quarto-title-block .quarto-title-authors {
  justify-content: left;
  border-top: 2px solid #447099;
  margin-top: 3rem;
  padding-top: 4rem;
  max-width: 1300px;
}

/* level2 slides */

.level2 h2:not(section.no-line h2) {
  border-bottom: 2px solid #447099;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

/* Smaller bullet points */

li::marker {
  font-size: 80%;
}

/* Typography */

.reveal blockquote {
  color: #222;
  padding: 0.625rem 2rem;
  border-left: 0.25rem solid #447099;
  font-size: 115%;
}

.h2 {
  font-size: 62px !important;
  margin-left: 0.25em !important;
}
/* Code */

.reveal pre.sourceCode code {
  max-height: 650px;
}

.reveal pre.sourceCode code.bash,
.reveal div.sourceCode pre code.markdown {
  padding: 15px;
}

/* Icons */

img.title-icon {
  padding-bottom: 30px;
  display: block;
  width: 130px;
  margin: auto;
}

/* Simple Tables  */

.reveal .simple-table table th,
.reveal .simple-table table td {
  padding: 0.3em 0;
  border-bottom: none;
}

/* Striped Tables */

.striped table tr:nth-of-type(odd):not(tr.header) {
  background-color: rgba(237, 243, 249, 0.7);
}

.reveal .striped table th,
.reveal .striped table td {
  padding: 0.3em 0.5em;
  border-bottom: none;
}

/* Regular Tables */
.reveal table th,
.reveal table td {
  border-bottom: 1px solid #bbb;
}

table td {
  vertical-align: middle;
}

/* Table pre size closer to non-pre size */

.reveal table pre {
  font-size: 0.8em;
}

/* table tbody td:not(table tbody td code) {
  font-size: 1.5rem;
} */

/* tables with no border */
.border-0 table td {
  border: none !important;
}

/* Tables with larger cells vertically */

.larger-cells tbody td {
  padding-top: 0.65em !important;
  padding-bottom: 0.65em !important;
}

/* What if images had a shadow? */

img.shadow {
  box-shadow: 0px 1px 2px rgb(0 0 0 / 15%), 0px 3px 7px rgb(0 0 0 / 15%),
    0px 12px 30px rgb(0 0 0 / 8%);
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0.5rem;
}
.border {
  border: 1px solid grey;
}

hr {
  height: 2px;
  background-color: #447099;
  border: none;
}
